/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://images.unsplash.com/photo-1503376780353-7e6692767b70');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 10px 0;
}

.btn-primary {
  background: #ff3c00;
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

/* SERVICES */
.services {
  padding: 50px;
  text-align: center;
}

.service-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #ff3c00;
  color: white;
}

/* WHY SECTION */
.why {
  background: #222;
  color: white;
  padding: 40px;
  text-align: center;
}

.why-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .why-box {
    flex-direction: column;
    gap: 10px;
  }
}